# Telegram Bot Configuration
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here

# Database Configuration (SQLite3)
DB_NAME=data/price_tracker.db

# Application Settings
PRICE_CHECK_INTERVAL_HOURS=4
REPORT_INTERVAL_HOURS=12
LOG_LEVEL=INFO
TEST=no  # yes = check prices every 1 minute (for testing) | no = use PRICE_CHECK_INTERVAL_HOURS

WEB_HOST=0.0.0.0
WEB_PORT=8000
