fastapi>=0.110.0
uvicorn>=0.28.0
aiogram>=3.4.1
apscheduler>=3.10.4
sqlalchemy>=2.0.28
aiosqlite>=0.20.0
requests>=2.31.0
beautifulsoup4>=4.12.3
lxml>=5.1.0
pydantic>=2.6.4
pydantic-settings>=2.2.1
curl_cffi>=0.7.0
